/* styles.css */
body {
    font-family: 'Inter', sans-serif;
  }
  
  .text-gradient {
    background: linear-gradient(90deg, #1e3a8a, #3b82f6, #60a5fa);
    -webkit-background-clip: text;
    color: transparent;
  }
  
  @media (max-width: 768px) {
    header nav {
      display: none;
    }
  }
  
  #mobileMenu ul li a {
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }

  #popup a {
    display: inline-block;
    text-decoration: none;
    color: white;
  }
